---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import WebPort01 from '../images/portfolio/web/das-1024x682.jpg';
import WebPort02 from '../images/portfolio/web/mefashions-1480x960.jpg';
import WebPort03 from '../images/portfolio/web/natural-allergy4-1024x820.jpg';
import Branding01 from '../images/portfolio/branding/thumbnails/portolfio-image01.jpg';
import Branding02 from '../images/portfolio/branding/thumbnails/portolfio-image02.jpg';
import Branding03 from '../images/portfolio/branding/thumbnails/portolfio-image03.jpg';
import Branding04 from '../images/portfolio/branding/thumbnails/portolfio-image04.jpg';
import Branding05 from '../images/portfolio/branding/thumbnails/portolfio-image05.jpg';
import Branding06 from '../images/portfolio/branding/thumbnails/portolfio-image06.jpg';
import Branding07 from '../images/portfolio/branding/thumbnails/portolfio-image07.jpg';
import Branding08 from '../images/portfolio/branding/thumbnails/portolfio-image08.jpg';
import Branding09 from '../images/portfolio/branding/thumbnails/portolfio-image09.jpg';
import Branding10 from '../images/portfolio/branding/thumbnails/portolfio-image10.jpg';
import Branding11 from '../images/portfolio/branding/thumbnails/portolfio-image11.jpg';
import Logo01 from '../images/portfolio/logos/thumbnails/portolfio-image01.jpg';
import Logo02 from '../images/portfolio/logos/thumbnails/portolfio-image02.jpg';
import Logo03 from '../images/portfolio/logos/thumbnails/portolfio-image03.jpg';
import Logo04 from '../images/portfolio/logos/thumbnails/portolfio-image04.jpg';
import Logo05 from '../images/portfolio/logos/thumbnails/portolfio-image05.jpg';
import Logo06 from '../images/portfolio/logos/thumbnails/portolfio-image06.jpg';
import Logo07 from '../images/portfolio/logos/thumbnails/portolfio-image07.jpg';
import Logo08 from '../images/portfolio/logos/thumbnails/portolfio-image08.jpg';
import Logo09 from '../images/portfolio/logos/thumbnails/portolfio-image09.jpg';
import Logo10 from '../images/portfolio/logos/thumbnails/portolfio-image10.jpg';
import Logo11 from '../images/portfolio/logos/thumbnails/portolfio-image11.jpg';
import Logo12 from '../images/portfolio/logos/thumbnails/portolfio-image12.jpg';
import Logo13 from '../images/portfolio/logos/thumbnails/portolfio-image13.jpg';
import Logo14 from '../images/portfolio/logos/thumbnails/portolfio-image14.jpg';
import Logo15 from '../images/portfolio/logos/thumbnails/portolfio-image15.jpg';
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Our Work Page"
/>

<Layout>
<section id="work-container"> 
  <div class="container container_2">
    <div class="item" style="height: 600px;"><img src={WebPort01} /></div>
    <div class="item" style="height: 400px;"><img src={WebPort02} /></div>
    <div class="item" style="height: 200px;"><img src={WebPort03} /></div>
    <div class="item" style="height: 286px;"><img src={Branding01} /></div>
    <div class="item" style="height: 321px;"><img src={Branding02}  /></div>
    <div class="item" style="height: 806px;"><img src={Branding03}  /></div>
    <div class="item" style="height: 286px;"><img src={Branding04}  /></div>
    <div class="item" style="height: 317px;"><img src={Branding05}  /></div>
    <div class="item" style="height: 83px;"><img src={Branding06}  /></div>
    <div class="item" style="height: 286px;"><img src={Branding07}  /></div>
    <div class="item" style="height: 250px;"><img src={Branding08}  /></div>
    <div class="item" style="height: 146px;"><img src={Branding09}  /></div>
    <div class="item" style="height: 159px;"><img src={Branding10}  /></div>
    <div class="item" style="height: 128px;"><img src={Branding11}  /></div>
    <div class="item" style="height: 250px;"><img src={Logo01}  /></div>
    <div class="item" style="height: 250px;"><img src={Logo02}  /></div>
    <div class="item" style="height: 161px;"><img src={Logo03}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo04}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo05}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo06}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo07}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo08}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo09}  /></div>
    <div class="item" style="height: 361px;"><img src={Logo10}  /></div>
    <div class="item" style="height: 250px;"><img src={Logo11}  /></div>
    <div class="item" style="height: 162px;"><img src={Logo12}  /></div>
    <div class="item" style="height: 291px;"><img src={Logo13}  /></div>
    <div class="item" style="height: 250px;"><img src={Logo14} /></div>
    <div class="item" style="height: 250px;"><img src={Logo15} /></div>
  </div>
</section>
</Layout>

<style>
#work-container {
  margin-top: 480px;
  height: 100vh;
  padding: 0;
}
.container {
  width: 100%;
  position: relative;
}
.item {
  position: absolute;
  text-align: center;
  font-size: 2em;
  font-weight: white;
  color: white;
  line-height: 1.5em;
  overflow: hidden;
}
.item img {
  border-radius: 10px;  
}
</style>

<script is:inline src="https://cdn.jsdelivr.net/npm/minimasonry@latest/build/minimasonry.min.js"></script>

<script is:inline>
var masonry2 = new MiniMasonry({
  container: document.querySelector('.container_2'),
  baseWidth: 250,
  gutter: 10
});
</script>