---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import MainImage1 from '../images/portfolio-item1.jpg';
import MainImage2 from '../images/portfolio-item2.jpg';
import MainImage3 from '../images/portfolio-item3.jpg';
import MainImage4 from '../images/portfolio-item4.jpg';
import MainImage5 from '../images/portfolio-item5.jpg';
import MainImage6 from '../images/portfolio-item6.jpg';
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Our Work Page"
/>
<Layout>


    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="grid-item"><img src={MainImage1}></div>
      <div class="grid-item grid-item--width2 grid-item--height2"><img src={MainImage2}></div>
      <div class="grid-item grid-item--height3"><img src={MainImage3}></div>
      <div class="grid-item grid-item--height2"><img src={MainImage4}></div>
      <div class="grid-item grid-item--width3"><img src={MainImage5}></div>
      <div class="grid-item"><img src={MainImage6}></div>
    </div>



</Layout>

<style>
#work-container {
  padding-top: 260px;
  padding-left: 10px;
  padding-right: 10px;
}
.grid {
  max-width: 1600px;  
  margin-top: 260px;
  margin-left: 10px;
  margin-right: 10px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
.grid-itemimg {
  width: auto;
  max-height: 300px;
  height: 100%;
}
.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
</style>

<script is:inline src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<script is:inline>
var elem = document.querySelector('.grid');
var msnry = new Masonry( elem, {
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
</script>