---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import WebPort01 from '../images/portfolio/web/thumbnails/portolfio-image01.jpg';
import WebPort001 from '../images/portfolio/web/full-size/das-1024x682.jpg';
import WebPort02 from '../images/portfolio/web/thumbnails/portolfio-image02.jpg';
import WebPort002 from '../images/portfolio/web/full-size/mefashions-1480x960.jpg';
import WebPort03 from '../images/portfolio/web/thumbnails/portolfio-image03.jpg';
import WebPort003 from '../images/portfolio/web/full-size/natural-allergy4-1024x820.jpg';
import Branding01 from '../images/portfolio/branding/thumbnails/portolfio-image01.jpg';
import Branding001 from '../images/portfolio/branding/full-size/AJ_Cards-Concept1.jpg';
import Branding02 from '../images/portfolio/branding/thumbnails/portolfio-image02.jpg';
import Branding002 from '../images/portfolio/branding/full-size/Armored Support Kit2015-English.jpg';
import Branding03 from '../images/portfolio/branding/thumbnails/portolfio-image03.jpg';
import Branding003 from '../images/portfolio/branding/full-size/bookmark-front.jpg';
import Branding04 from '../images/portfolio/branding/thumbnails/portolfio-image04.jpg';
import Branding004 from '../images/portfolio/branding/full-size/C-Swabi-Card-Proof.jpg';
import Branding05 from '../images/portfolio/branding/thumbnails/portolfio-image05.jpg';
import Branding005 from '../images/portfolio/branding/full-size/Half-Price-Thursdays-Poster-LoRes.jpg';
import Branding06 from '../images/portfolio/branding/thumbnails/portolfio-image06.jpg';
import Branding006 from '../images/portfolio/branding/full-size/Kanger-Vinyl_Banner.jpg';
import Branding07 from '../images/portfolio/branding/thumbnails/portolfio-image07.jpg';
import Branding007 from '../images/portfolio/branding/full-size/Kayla-Card-Proof.jpg';
import Branding08 from '../images/portfolio/branding/thumbnails/portolfio-image08.jpg';
import Branding008 from '../images/portfolio/branding/full-size/Urban-Revival-CD-Cover-Master-LoRes.jpg';
import Branding09 from '../images/portfolio/branding/thumbnails/portolfio-image09.jpg';
import Branding009 from '../images/portfolio/branding/full-size/WORSHIP-FLYER2.jpg';
import Branding10 from '../images/portfolio/branding/thumbnails/portolfio-image10.jpg';
import Branding010 from '../images/portfolio/branding/full-size/Worth-Fitness-Flyer-Revised02.jpg';
import Branding11 from '../images/portfolio/branding/thumbnails/portolfio-image11.jpg';
import Branding011 from '../images/portfolio/branding/full-size/Worth-fitness-Flyer.jpg';

import Logo01 from '../images/portfolio/logos/thumbnails/portolfio-image01.jpg';
import Logo02 from '../images/portfolio/logos/thumbnails/portolfio-image02.jpg';
import Logo03 from '../images/portfolio/logos/thumbnails/portolfio-image03.jpg';
import Logo04 from '../images/portfolio/logos/thumbnails/portolfio-image04.jpg';
import Logo05 from '../images/portfolio/logos/thumbnails/portolfio-image05.jpg';
import Logo06 from '../images/portfolio/logos/thumbnails/portolfio-image06.jpg';
import Logo07 from '../images/portfolio/logos/thumbnails/portolfio-image07.jpg';
import Logo08 from '../images/portfolio/logos/thumbnails/portolfio-image08.jpg';
import Logo09 from '../images/portfolio/logos/thumbnails/portolfio-image09.jpg';
import Logo10 from '../images/portfolio/logos/thumbnails/portolfio-image10.jpg';
import Logo11 from '../images/portfolio/logos/thumbnails/portolfio-image11.jpg';
import Logo12 from '../images/portfolio/logos/thumbnails/portolfio-image12.jpg';
import Logo13 from '../images/portfolio/logos/thumbnails/portolfio-image13.jpg';
import Logo14 from '../images/portfolio/logos/thumbnails/portolfio-image14.jpg';
import Logo15 from '../images/portfolio/logos/thumbnails/portolfio-image15.jpg';
import Logo16 from '../images/portfolio/logos/thumbnails/portolfio-image16.jpg';

import Logo001 from '../images/portfolio/logos/full-size/ActivePhysical_Logo.jpg';
import Logo002 from '../images/portfolio/logos/full-size/armored-films-Logo2.jpg';
import Logo003 from '../images/portfolio/logos/full-size/BusinessWorkshop-1480x960.jpg';
import Logo004 from '../images/portfolio/logos/full-size/CVDC-1480x960.jpg';
import Logo005 from '../images/portfolio/logos/full-size/FCpipeline-Logo-1480x960.jpg';
import Logo006 from '../images/portfolio/logos/full-size/Larouche-flyer-1480x960.jpg';
import Logo007 from '../images/portfolio/logos/full-size/NaturalAllergySolutions-1480x960.jpg';
import Logo008 from '../images/portfolio/logos/full-size/NaturalAllergySolutions22-1480x960.jpg';
import Logo009 from '../images/portfolio/logos/full-size/NextDimension-Logo-1480x960.jpg';
import Logo010 from '../images/portfolio/logos/full-size/RENSON-Calendar-2019.jpg';
import Logo011 from '../images/portfolio/logos/full-size/Siddiqui-Law-Logo.jpg';
import Logo012 from '../images/portfolio/logos/full-size/Spinex-Logo-1480x960.jpg';
import Logo013 from '../images/portfolio/logos/full-size/TCSC-Master-Logo.jpg';
import Logo014 from '../images/portfolio/logos/full-size/TheUrbanFrequency-Logo.jpg';
import Logo015 from '../images/portfolio/logos/full-size/Traklounge-Logo.jpg';
import Logo016 from '../images/portfolio/logos/full-size/VictorEnthios-Logo-1480x960.jpg';
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Our Work Page"
/>

<Layout>
<section id="work-container"> 
  <div class="container container_2">
    <div class="item" style="height: 167px;"><a data-fancybox="websites1" data-caption="Vestibulum lobortis ultricies ipsum, a maximus ligula dignissim in. Sed consectetur tellus egestas, consequat dolor at, tempus augue. " href={ WebPort001 }><img src={WebPort01} /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="websites2" href={ WebPort002 }><img src={WebPort02} /></a></div>
    <div class="item" style="height: 200px;"><a data-fancybox="websites3" href={ WebPort003 }><img src={WebPort03} /></a></div>
    <div class="item" style="height: 286px;"><a data-fancybox="branding1" href={ Branding001 }><img src={Branding01} /></a></div>
    <div class="item" style="height: 321px;"><a data-fancybox="branding2" href={ Branding002 }><img src={Branding02}  /></a></div>
    <div class="item" style="height: 806px;"><a data-fancybox="branding3" href={ Branding003 }><img src={Branding03}  /></a></div>
    <div class="item" style="height: 286px;"><a data-fancybox="branding4" href={ Branding004 }><img src={Branding04}  /></a></div>
    <div class="item" style="height: 317px;"><a data-fancybox="branding5" href={ Branding005 }><img src={Branding05}  /></a></div>
    <div class="item" style="height: 83px;"><a data-fancybox="branding6" href={ Branding006 }><img src={Branding06}  /></a></div>
    <div class="item" style="height: 286px;"><a data-fancybox="branding7" href={ Branding007 }><img src={Branding07}  /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="branding8" href={ Branding008 }><img src={Branding08}  /></a></div>
    <div class="item" style="height: 146px;"><a data-fancybox="branding9" href={ Branding009 }><img src={Branding09}  /></a></div>
    <div class="item" style="height: 159px;"><a data-fancybox="branding10" href={ Branding010 }><img src={Branding10}  /></a></div>
    <div class="item" style="height: 128px;"><a data-fancybox="branding11" href={ Branding011 }><img src={Branding11}  /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="logos1" href={ Logo001 }><img src={Logo01}  /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="logos2" href={ Logo002 }><img src={Logo02}  /></a></div>
    <div class="item" style="height: 161px;"><a data-fancybox="logos3" href={ Logo003 }><img src={Logo03}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos4" href={ Logo004 }><img src={Logo04}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos5" href={ Logo005 }><img src={Logo05}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos6" href={ Logo006 }><img src={Logo06}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos7" href={ Logo007 }><img src={Logo07}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos8" href={ Logo008 }><img src={Logo08}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos9" href={ Logo009 }><img src={Logo09}  /></a></div>
    <div class="item" style="height: 361px;"><a data-fancybox="logos10" href={ Logo010 }><img src={Logo10}  /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="logos11" href={ Logo011 }><img src={Logo11}  /></a></div>
    <div class="item" style="height: 162px;"><a data-fancybox="logos12" href={ Logo012 }><img src={Logo12}  /></a></div>
    <div class="item" style="height: 291px;"><a data-fancybox="logos13" href={ Logo013 }><img src={Logo13}  /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="logos14" href={ Logo014 }><img src={Logo14} /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="logos15" href={ Logo015 }><img src={Logo15} /></a></div>
    <div class="item" style="height: 250px;"><a data-fancybox="logos16" href={ Logo016 }><img src={Logo16} /></a></div>
  </div>
</section>
</Layout>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />

<style>
#work-container {
  margin-top: 380px;
  height: 100vh;
  padding: 0;
}
.container {
  width: 100%;
  position: relative;
}
.item {
  position: absolute;
  text-align: center;
  font-size: 2em;
  font-weight: white;
  color: white;
  line-height: 1.5em;
  overflow: hidden;
}
.item img {
  border-radius: 10px;  
}
</style>

<script is:inline src="https://cdn.jsdelivr.net/npm/minimasonry@latest/build/minimasonry.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script is:inline>
var masonry2 = new MiniMasonry({
  container: document.querySelector('.container_2'),
  baseWidth: 250,
  gutter: 10,
  ultimateGutter: 20
});
</script>